@model Teacherfinder.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<div ng-app="app" ng-controller="ProfileCtrl as vm">
    <h2>@ViewBag.Title.</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>Change your account settings</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
            {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
            <dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>
            @*
                Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                 See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                 Uncomment the following block after you have set up two-factor authentication
            *@
            @*
                <dt>Phone Number:</dt>
                <dd>
                    @(Model.PhoneNumber ?? "None") [
                    @if (Model.PhoneNumber != null)
                    {
                        @Html.ActionLink("Change", "AddPhoneNumber")
                        @: &nbsp;|&nbsp;
                        @Html.ActionLink("Remove", "RemovePhoneNumber")
                    }
                    else
                    {
                        @Html.ActionLink("Add", "AddPhoneNumber")
                    }
                    ]
                </dd>
            *@
            <dt>Two-Factor Authentication:</dt>
            <dd>
                <p>
                    There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication.
                </p>
                @*@if (Model.TwoFactor)
                    {
                        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Enabled
                            <input type="submit" value="Disable" class="btn btn-link" />
                            </text>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Disabled
                            <input type="submit" value="Enable" class="btn btn-link" />
                            </text>
                        }
                    }*@
            </dd>
            <dt>Location:</dt>
            <dd>
                <div>selection is: {{vm.personDetails.location.fullAddress}}</div>
                <div>
                    <input ng-model="vm.personDetails.location.fullAddress" googleplacesautocomplete postcode="vm.model.postCode" country="vm.model.country" state="vm.model.state" city="vm.model.city"
                    address1="vm.model.address_1" latitude="vm.model.latitude" longitude="vm.model.longitude" suburb="vm.model.suburb" />
                </div>
                <button class="btn btn-primary" ng-click="vm.updatePersonLocation()">Update</button>
            </dd>
        </dl>
    </div>
</div>

@section scripts
{
    @*@Scripts.Render("~/Content/app/services/home-service.js")*@
    @Scripts.Render("~/Content/app/app.js")
    @Scripts.Render("~/Content/app/services/profile/profile-service.js")
    @Scripts.Render("~/Content/app/controllers/profile/profile-controller.js")
    @*@Scripts.Render("~/bundles/googlemaps")*@
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfKdxNyLrx0lgB_T0B80OijAlJSUfu8Oc&libraries=places"></script>
    <script src="http://jvandemo.github.io/angularjs-google-maps/dist/angularjs-google-maps.js"></script>
    @Scripts.Render("~/Content/app/directives/google-places-autocomplete-directive.js")

}

